.newProduct {
  width: 100%;
  max-width: 600px; /* Increased max-width for wider screens */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.addProductForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addProductItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 5px;
}

.addProductItem > input,
.addProductItem > textarea,
.addProductItem > select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.photo-upload {
  display: flex;
  flex-wrap: wrap;
}

.photo-upload__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.photo-upload__item input {
  display: none;
}

.photo-upload__item label {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.photo-upload__item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.addProductButton {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .newProduct {
    max-width: 100%;
  }
  
  .addProductItem > label {
    font-size: 0.9rem;
  }
  
  .addProductButton {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .newProduct {
    max-width: 100%;
  }
  
  .addProductItem > label {
    font-size: 0.8rem;
  }
  
  .addProductButton {
    font-size: 0.8rem;
    padding: 7px;
  }
}
